*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
   
}

 .main-container{
    display: flex;
     justify-content: center; 
     align-items: center; 
    gap: 30px;
    
    /* background-color: aqua; */
    margin: 90px 50px;
    height: 200px;
    /* box-shadow: 10px 10px 20px 5px; */
} 

.sub-cont-1{
    /* border: 1px solid black; */
    /* background-color:aqua; */
    padding: 12px;
    gap: 23px;
    text-align: center;
    margin-top: 200px;
    box-shadow: 10px 10px 30px 1px ;
}
.sub-cont-1 h1{
    /* border: 1px solid black; */
    font-size: 20px;
    padding: 10px;
    color: black;
    font-weight: 700;
     background-color:aliceblue; 
}
.sub-cont-1 h2{
    /* border: 1px solid black; */
    font-size: 40px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 700;
     background-color:aliceblue; 
}

.sub-cont-1 h3{
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 100px;
    background-color:aliceblue; 
}

.sub-cont-1 p{
    /*border: 1px solid black; */
    font-size: 13px;
    padding: 12px;
    margin-top: 12px;
    color: black;
    font-weight: 700;
    background-color:aliceblue; 
}

.sub-cont-1 button{
    /* border: 1px solid black; */
    font-size: 15px;
    padding: 19px;
    margin-top: 23px;
    width: 100%;
    color: black;
    font-weight: 70;
     background-color:aliceblue; 
}
.sub-cont-1 ul{
    /* border: 1px solid black; */
    list-style: none;
    padding: 12px;
    margin-top: 12px;
    text-align: left;
    gap: 20px;
    color: black;
    font-weight: 70;
    
    background-color:aliceblue;
}

.sub-cont-2{
    /* border: 1px solid black;
    background-color: rgb(212, 218, 42); */
    border: 1px solid black;
    /* background-color:aqua; */
    padding: 12px;
    gap: 23px;
    text-align: center;
    margin-top: 200px;
    box-shadow: 10px 10px 30px 1px ;
}

.sub-cont-2 h1{
    /* border: 1px solid black; */
    font-size: 20px;
    color: white;
    padding: 10px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(194, 227, 255, 1), rgba(180, 118, 254, 1));
}
.sub-cont-2 h2{
    /* border: 1px solid black; */
    font-size: 40px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 700;
    background-color:aliceblue;
}

.sub-cont-2 h3{
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 100px;
    background-color:aliceblue;
}

.sub-cont-2 p{
    /* border: 1px solid black; */
    font-size: 13px;
    padding: 12px;
    margin-top: 12px;
    color: black;
    font-weight: 700;
    background-color:aliceblue;
}

.sub-cont-2 button{
    /* border: 1px solid black; */
    font-size: 15px;
    padding: 19px;
    margin-top: 23px;
    width: 100%;
    color: white;
    font-weight: 70;
    background-color: black;
}
.sub-cont-2 ul{
    /* border: 1px solid black; */
    list-style: none;
    padding: 12px;
    margin-top: 12px;
    text-align: left;
    gap: 20px;
    color: black;
    font-weight: 70;
    background-color:aliceblue;
}


.sub-cont-3{
    /* border: 1px solid black; */
    /* background-color: rgb(42, 218, 42); */
    /* border: 1px solid black; */
    /* background-color:aqua; */
    padding: 12px;
    gap: 23px;
    text-align: center;
    margin-top: 200px;
    box-shadow: 10px 10px 30px 1px ;
}

.sub-cont-3 h1{
    /* border: 1px solid black; */
    font-size: 20px;
    color: white;
    padding: 10px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(255, 177, 194, 1)13%, rgba(255, 203, 114, 1)100%);
}
.sub-cont-3 h2{
    /* border: 1px solid black; */
    font-size: 40px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 700;
    background-color:aliceblue;
}

.sub-cont-3 h3{
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 12px;
    margin-top: 30px;
    color: black;
    font-weight: 100px;
    background-color:aliceblue;
}

.sub-cont-3 p{
    /* border: 1px solid black; */
    font-size: 13px;
    padding: 12px;
    margin-top: 12px;
    color: black;
    font-weight: 700;
    background-color:aliceblue;
}

.sub-cont-3 button{
    /* border: 1px solid black; */
    font-size: 15px;
    padding: 19px;
    margin-top: 23px;
    width: 100%;
    color: black;
    font-weight: 70;
    background-color:aliceblue;
}
.sub-cont-3 ul{
    /* border: 1px solid black; */
    list-style: none;
    padding: 12px;
    margin-top: 12px;
    text-align: left;
    gap: 20px;
    color: black;
    font-weight: 70;
    
    background-color:aliceblue;
}
